* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
}

/*Header and Navigation Bar*/

header {
  height: 65px;
  width: 100%;
  background-color: black;
  
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 110px;
}

.backButton {
  padding-top: 30%;
  width: 25px;
}

.header-left {
  float: left;
  transition: all 0.2s;
}

.header-left:hover{
  transform: scale(1.1);
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  font-weight: bold;
  color: #6095cd;
  display: block;
  float: left;
  transition: all 0.2s;
}

.header-right a:hover {
  color: black;
  background-color: #d7e9ff;
}

.menusub{
  background-color: #242e88;
  transition: all 0.2s;
}

.menusub p{
  color: white;
  transition: all 0.2s;
}

.menusub p:hover{
  color: black;
}

.menusub:hover{
  background-color: #d7e9ff;
}

/*Container*/
.container {
  max-width: 1000px;
  padding: 0 auto;
  margin: 0 auto;
}

/* Top Banner */
.top-wrapper {
  padding: 110px 0 90px 0; 
  background-image: url(../assets/Banner\ Top.png);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000000;
}

.top-wrapper p {
  margin-top: 15px;
  text-shadow: 2px 2px #000000;
}

/* Video Banner */
.video-showcase{
  position: relative;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container:after{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.video-container video{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.video-content{
  z-index: 5;
}

.video-content h1{
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000000;
}
.video-content p{
  color: white;
  font-size: 22px;
  margin-top: 20px;
  text-shadow: 2px 2px #000000;
  margin-bottom: 40px;
}

/*General Heading*/

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.heading h3 {
  font-size: 15px;
  font-weight: normal;
}

/* Home Contents Feeds*/

.content-wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: aliceblue;
}

.content-wrapper h1{
  color:#01013f;
  text-align: center;
  font-size: 35px;
}

.content-wrapper h2{
  color:#171963;
  font-size: 30px;
}

.content-listing-left{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.content-listing-left h2{
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-listing-left img{
  float: right;
  width: 40%;
  margin-left: 5%;
}

.content-listing-right{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.content-listing-right h2{
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-listing-right img{
  float: left;
  width: 40%;
  margin-right: 5%;
}

.content-listing-about{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.content-listing-about p{
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}


/* Home Bottom Invitation*/

.invitation {
  border-bottom: 1px solid #eee;
  padding-bottom: 75px;
  text-align: center;
  background-image: url(../assets/Invitation\ Banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.invitation h2{
  font-size: 35px;
  color: aliceblue;
}

.invitation h3{
  margin-top: 10px;
  font-size: 22px;
  color: aliceblue;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  transition: all 0.2s;
}

.btn:active {
  position: relative;
  border-radius: 14px;
}

.message {
  color: #156133;
  background-color: #5dca88;
  padding: 15px 30px;
  font-size: 20px;
}

.message:hover {
  color: #afe2c3;
  background-color: #1a7940;
  transform: scale(1.1);
}

.learn {
  margin-top: 15px;
  font-size: 15px;
  color: #171963;
  background-color: #b5b2df;
  padding: 12px 24px;
}

.learn:hover {
  color: #b5b2df;
  background-color: #171963;
}

/* FOOTER */

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer img {
  width: 100px;
  top: 10px;
}

.social-icon{
  margin: 0;
  position: relative;
  top: 15px;
  float: right;
  width: 6%;
  transition: transform 0.1s;
}

.social-icon img{
  width: 40px;
}

.social-icon:hover{
  transform: scale(1.1);
}



/*Animal Gallery*/

.animal-listing {
  padding-bottom: 65px;
}

.animal-wrapper {
  padding-top: 5px;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #222250;
  text-align: center;
}

.new {
  background-color: #01013f;
  padding-bottom: 40px;
}

.newAnimal {
  float: left;
  width: 33%;
}

.newAnimal h3{
  color: aliceblue;
  font-size: 20px;
  margin-top: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.animal-icon {
  position: relative;
}

.animal-icon img{
  width: 220px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  color: #b6b2b8;
}

/*Clear Float Fix*/
.clearfloat {
  clear: left;
}


/* Subscription Page */

.form-background{
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../assets/Subs\ Background.jpg);
  padding: 100px 0 100px 0; 
  color: white;
}

.form-background h1{
  text-align: center;
}

.form-wrapper {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: aliceblue;
}

.form-wrapper label{
  color:#171963;
  font-size: 24px;
  width: 60%;
  margin-right: 30px;
}

.form-content{
  width: 100%;
}

.form-input{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-select{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.input, .textarea, .form-select select{
  appearance: none;
  width: 100%;
  outline: none;
  border: 1px solid #01013f;
  font-size: 24px;
  padding: 5px 9px;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textarea{
  resize: none;
  height: 100px;
}

.optionDisabled{
  font-size: 0.0001px;
}

.optionDisabled a{
  color: grey;
}

.tnc{
  display: flex;
  justify-content: left;
  padding-top: 5px;
  padding-bottom: 24px;
  align-items: center;
}

.tnc p{
  margin-left: 5px;
  font-size: 20px;
  color:#01013f;
}

.tnc a{
  text-decoration: underline;
  color: #81360a;
}

.check{
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: block;
}

.formSubmit{
  display: flex;
  justify-content: center;
}

